<div [hidden]="submitted" class="card my-5">
  <div class="card-body">
    <form #alumnoForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <h2>Nuevo alumno</h2>
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" placeholder="Escriba su nombre" [(ngModel)]="alumno.nombre" required name="nombre" #name>
          <div class="invalid-feedback">Nombre invalido</div>
      </div>
        <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" placeholder="Escriba su apellido" [(ngModel)]="alumno.apellido" required name="apellido" #name>
          <div class="invalid-feedback">Apellido invalido</div>
      </div>
      <div class="form-group">
          <label for="fechaNac">Fecha de nacimiento</label>
          <input class="form-control" type="date" value="19-08-2011" [(ngModel)]="alumno.fechaNac" required name="fechaNac" #name>
            <div class="invalid-feedback">Fecha de nacimiento invalida</div>
      </div>
        <div class="form-group">
        <label for="mail">Email</label>
        <input type="text" [(ngModel)]="alumno.mail" 
          class="form-control" 
          placeholder="Escriba su email"
          required name="mail" #name>
          <div class="invalid-feedback">Email invalido</div>
      </div>
      <div class="form-group">
        <label for="obraSoc">Obra social</label>
        <input type="text" [(ngModel)]="alumno.obraSoc" 
          class="form-control" 
          placeholder="Escriba su obra social"
          required name="obraSoc" #name>
          <div class="invalid-feedback">Obra social invalida</div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Certificado médico</label>
        <input (change)="onFileChange($event)" type="file" 
        class="form-control-file"
        required name="certMedico" #name>
        <div class="invalid-feedback">Archivo invalido</div> <!--[(ngModel)]="alumno.certMedico"-->
      </div> 
    <!-- <h5>Certificado Médico</h5>
    <p-fileUpload mode="basic" name="alumno.certMedico" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUploadAuto($event)"
        [auto]="true" chooseLabel="Seleccionar Archivo"></p-fileUpload> -->
    <div class="form-group">
      <label for="curso">Curso</label>
      <select class="form-control" [(ngModel)]="alumno.curso" required name= "curso" #name>
        <option [ngValue]="undefined" hidden>Seleccione un curso...</option>
        <option [ngValue]="curso" *ngFor="let curso of cursos">
         {{curso.nivel}} de {{curso.categoria}} de {{curso.edades}} años los dias {{curso.dias}} de valor $ {{curso.valor}}
        </option>
      </select> 
    </div> 
  <div  class="form-group">
     <div class="form-group">
        <label for="nombreMayor">Nombre del tutor</label>
        <input type="text" [(ngModel)]="alumno.nombreMayor" 
          [disabled]="!menorEdad()"
          class="form-control" 
          placeholder="Escriba el nombre de su tutor"
           required name="nombreMayor" #name>
          <div class="invalid-feedback">Nombre invalido</div>
      </div>
     <div class="form-group">
        <label for="apellidoMayor">Apellido del tutor</label>
        <input type="text" [(ngModel)]="alumno.apellidoMayor" 
          [disabled]="!menorEdad()"
          class="form-control" 
          placeholder="Escriba el apellido de su tutor"
          required name="apellidoMayor" #name>
          <div class="invalid-feedback">Apellido invalido</div>
      </div>
     <div class="form-group">
        <label for="dniMayor">DNI del tutor</label>
        <input type="text" [(ngModel)]="alumno.dniMayor" 
          [disabled]="!menorEdad()"
          class="form-control" 
          placeholder="Escriba el DNI de su tutor"
          required name="dniMayor" #name>
          <div class="invalid-feedback">DNI invalido</div>
      </div>
     <div class="form-group">
        <label for="mailMayor">Mail del tutor</label>
        <input type="text" [(ngModel)]="alumno.mailMayor" 
          [disabled]="!menorEdad()"
          class="form-control" 
          placeholder="Escriba el mail de su tutor"
          required name="mailMayor" #name>
          <div class="invalid-feedback">Mail invalido</div>
      </div>
     <div class="form-group">
        <label for="telefonoMayor">Telefono del tutor</label>
        <input type="text" [(ngModel)]="alumno.telefonoMayor" 
          [disabled]="!menorEdad()"
          class="form-control" 
          placeholder="Escriba el número de telefono de su tutor"
           required name="telefonoMayor" #name>
          <div class="invalid-feedback">Telefono invalido</div>
      </div>
       <div class="form-group">
          <label for="fechaNac">Fecha de último pago</label>
          <input class="form-control" type="date" [(ngModel)]="alumno.fechaPago"
              name= "fecha"
              id="fechaPago"
              value="19-08-2011" 
              required name="fechaPago" #name>
            <div class="invalid-feedback">No actualizo fecha de pago</div> 
            <br>
           <button type="button" class="btn btn-primary" [disabled]="alumno.fechaPago" (click)="actualizarFechaPago()">
            Pagar cuota del mes 
           </button>
      </div>
  </div>
      <button type="submit" class="btn btn-success"[disabled]="!alumnoForm.form.valid" >Cargar</button>
      &nbsp;
      <button type="button" class="btn btn-link" [routerLink]="['/alumnos']" >Cancelar</button>
 <!--</form> -->
<!-- </div> 
</div> -->
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>