<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Numero de socio</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Mail</th>
          <th scope="col">Obra social</th>
          <th scope="col">Certificado medico</th>
          <th scope="col">Curso</th>
          <th scope="col">Nombre del tutor</th>
          <th scope="col">Apellido del tutor</th>
          <th scope="col">DNI del tutor</th>
          <th scope="col">Mail del tutor</th>
          <th scope="col">Telefono del tutor</th>
          <th scope="col">Fecha último pago</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos| async">
          <td>{{ alumno.numSocio }}</td>
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.apellido }}</td>
          <td>{{ alumno.fechaNac }}</td>
          <td>{{ alumno.mail }}</td>
          <td>{{ alumno.obraSoc }}</td>
          <td>{{ alumno.certMedico }}</td>
          <td>{{ alumno.curso }}</td>
          <td>{{ alumno.nombreMayor }}</td>
          <td>{{ alumno.apellidoMayor }}</td>
          <td>{{ alumno.dniMayor }}</td>
          <td>{{ alumno.mailMayor }}</td>
          <td>{{ alumno.telefonoMayor }}</td>
          <td>{{ alumno.fechaPago }}</td>
          <button type="button" class="btn btn-dark" [routerLink]= "['/alumnos', alumno.numSocio]" >Modificar</button>
          &nbsp;
          <button type="button" class="btn btn-danger" (click) = "delete(curso.id)" >Eliminar</button>
        </tr>
      </tbody>
    </table>
     <footer>
      <button type="button" class="btn btn-info" [routerLink]="['/alumnos/nuevo']" >Nuevo Alumno</button>
    </footer>
  </div>
</div>
