<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="table-primary">
        <tr>
          <th scope="col">Id curso</th>
          <th scope="col">Nivel</th>
          <th scope="col">Dias</th>
          <th scope="col">Categoria</th>
          <th scope="col">Edades</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos">
          <td>{{ curso.id }}</td>
          <td>{{ curso.nivel }}</td>
          <td>{{ curso.dias }}</td>
          <td>{{ curso.categoria }}</td>
          <td>{{ curso.edades }}</td>
          <td>{{ curso.valor }}</td>
          <button type="button" class="btn btn-dark" (click) = "save(curso)" >Modificar</button>
          &nbsp;
          <button type="button" class="btn btn-danger" (click) = "delete(curso.id)" >Eliminar</button>
        </tr>
      </tbody>
    </table>
    <footer>
      <button type="button" class="btn btn-info" [routerLink]="['/cursos/nuevo']">Nuevo Curso</button>
    </footer>
  </div>
</div>
<div>
