 <div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="table-primary">
        <tr>
          <th scope="col">Id curso</th>
          <th scope="col">Nivel</th>
          <th scope="col">Dias</th>
          <th scope="col">Categoria</th>
          <th scope="col">Edades</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursos | async">
          <td>{{ curso.id }}</td>
          <td>{{ curso.nivel }}</td>
          <td>{{ curso.dias }}</td>
          <td>{{ curso.categoria }}</td>
          <td>{{ curso.edades }}</td>
          <td>{{ curso.valor }}</td>
          <button type="button" class="btn btn-dark" (click)="updateCurso(curso.id)">Modificar</button> <!--[routerLink]= "['/cursos', curso.id]"-->
          &nbsp;
          <button pButton type="text" (click)="confirm(curso.id)" class="p-button-danger" icon="pi pi-trash" label="Eliminar"></button> 
        </tr>
      </tbody>
    </table>
    <footer>
      <button type="button" class="btn btn-info" [routerLink]="['/cursos/nuevo']">Nuevo Curso</button>
    </footer>
  </div>
</div>
<div> 
<p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
