<div  [hidden]="submitted" class="card my-5">
  <div class="card-body">
    <form #cursoForm="ngForm" (ngSubmit)= "onSubmit()"> <!-- #cursoForm="ngForm"  save(cursoForm.value)"-->
    <div class="form-group">
      <h2>Nuevo curso</h2> <!--{{curso.id ? 'Editar' : 'Agregar'}} Curso-->
        <label for="nivel">Nivel</label>
        <input type="text" class="form-control" [(ngModel)]="curso.nivel" required name="nivel" #name>
          <div class="invalid-feedback">Nivel invalido</div>
    </div>
    <div class="form-group">
        <label for="dias">Dias de entrenamiento</label>
        <input type="text" class="form-control"  placeholder="Escriba los dias de entrenamiento" [(ngModel)]="curso.dias" required name="dias" #name>
          <div class="invalid-feedback">Rango invalido</div>
    </div>
    <div class="form-group">
        <label for="categoria">Categoria</label>
        <input type="text" class="form-control" placeholder="Escriba la categoria" [(ngModel)]="curso.categoria" required name="categoria" #name>
          <div class="invalid-feedback">Categoria invalida</div>
    </div>
    <div class="form-group">
        <label for="edades">Edades</label>
        <input type="text" class="form-control" placeholder="Escriba el rango de edades" [(ngModel)]="curso.edades" required name="edades" #name>
          <div class="invalid-feedback">Rango de edades invalido</div>
    </div>
    <div class="form-group">
        <label for="valor">Valor</label>
        <input type="number" min="0" class="form-control" placeholder = "Escriba el valor" [(ngModel)]="curso.valor" required name="valor" #name>
          <div class="invalid-feedback">Valor invalido</div>
    </div>
      <button type="submit" class="btn btn-success" [disabled]="!cursoForm.form.valid">Cargar</button>
     <!-- <button type="submit" class="btn btn-info" [disabled]="!cursoForm.form.valid"> {{curso.id ? 'Guardar' : 'Agregar'}} </button> --> <!--cursoForm.value-->
      &nbsp;
      <button type="button" class="btn btn-link"  [routerLink]="['/cursos']">Cancelar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
