<div class="card my-5">
  <div class="card-body">
    <form #alumnoForm="ngForm" >
      <div class="form-group">
        <h2>Editar Alumno</h2>
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="alumno.nombre" required name="nombre" #name>
          <div class="invalid-feedback">Nombre invalido</div>
      </div>
        <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" [(ngModel)]="alumno.apellido" required name="apellido" #name>
          <div class="invalid-feedback">Apellido invalido</div>
      </div>
      <div class="form-group">
          <label for="fechaNac">Fecha de nacimiento</label>
          <input type="date" class="form-control" [(ngModel)]="alumno.fechaNac" value="2011-08-19" required name="fechaNac" #name>
            <div class="invalid-feedback">Fecha de nacimiento invalida</div>
      </div>
        <div class="form-group">
        <label for="mail">Email</label>
        <input type="text" class="form-control" [(ngModel)]="alumno.mail" required name="mail" #name>
          <div class="invalid-feedback">Email invalido</div>
      </div>
      <div class="form-group">
        <label for="obraSoc">Obra social</label>
        <input type="text" class="form-control" [(ngModel)]="alumno.obraSoc" required name="obraSoc" #name>
          <div class="invalid-feedback">Obra social invalida</div>
      </div>
    <!--<div class="form-group">
        <label for="exampleFormControlFile1">Certificado médico</label>
        <input type="file" 
        class="form-control-file"
        [(ngModel)]="alumno.certMedico"
        accept= "image/*"
        required name="certMedico" #name> 
        <div class="invalid-feedback">Archivo invalido</div> 
        <h3>{{ alumno.certMedico.name }} </h3>
      </div> -->
    <div class="form-group">
      <label for="curso">Curso</label>
      <select class="form-control" [(ngModel)]="alumno.curso" required name="curso" #name>
        <option [ngValue]="curso" *ngFor="let curso of cursos">
         {{curso.nivel}} de {{curso.categoria}} de {{curso.edades}} años los dias {{curso.dias}} de valor $ {{curso.valor}}
        </option>
      </select> 
    </div> 
  <div class="form-group">
     <div class="form-group">
        <label for="nombreMayor">Nombre del tutor</label>
        <input type="text" class="form-control" [(ngModel)]="alumno.nombreMayor" [disabled]="!menorEdad()" required name="nombreMayor" #name>
          <div class="invalid-feedback">Nombre invalido</div>
      </div>
     <div class="form-group">
        <label for="apellidoMayor">Apellido del tutor</label>
        <input type="text" class="form-control" [(ngModel)]="alumno.apellidoMayor" [disabled]="!menorEdad()" required name="apellidoMayor" #name>
          <div class="invalid-feedback">Apellido invalido</div>
      </div>
     <div class="form-group">
        <label for="dniMayor">DNI del tutor</label>
        <input type="text" class="form-control" [(ngModel)]="alumno.dniMayor" [disabled]="!menorEdad()" required name="dniMayor" #name>
          <div class="invalid-feedback">DNI invalido</div>
      </div>
     <div class="form-group">
        <label for="mailMayor">Mail del tutor</label>
        <input type="text" class="form-control" [(ngModel)]="alumno.mailMayor" [disabled]="!menorEdad()" required name="mailMayor" #name>
          <div class="invalid-feedback">Mail invalido</div>
      </div>
     <div class="form-group">
        <label for="telefonoMayor">Telefono del tutor</label>
        <input type="text" class="form-control" [(ngModel)]="alumno.telefonoMayor" [disabled]="!menorEdad()" required name="telefonoMayor" #name>
          <div class="invalid-feedback">Telefono invalido</div>
      </div>
       <div class="form-group">
          <label for="fechaNac">Fecha de último pago</label>
          <input class="form-control" type="date" [(ngModel)]="alumno.fechaPago"
              id="fechaPago"
              value="19-08-2011" 
              required name="fechaPago" #name>
            <div class="invalid-feedback">No actualizo fecha de pago</div>
            <br>
          <button type="button" class="btn btn-primary" (click)="actualizarFechaPago()" [disabled]="fechaDeHoy()">
          Pagar cuota del mes 
          </button>
        </div> 
  <!-- </div> --> 
    <button type="text" class="p-button-success" (click)="confirm()" pButton icon="pi pi-check" label="Guardar"></button> 
    <!--<button type="submit" class="btn btn-success">Guardar</button> -->
    &nbsp;
    <button type="button" class="btn btn-link" [routerLink]="['/alumnos']" >Cancelar</button> 
  <!--</div> -->
</div>
  <p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog> 

