<div class="card my-5">
  <div class="card-body">
        <table class="table table-bordered table-striped">
        <thead class="table-success">
            <tr>
            <th scope="col">Id asistencia</th>
            <th scope="col">Número de socio</th>
            <th scope="col">Alumno</th>
            <th scope="col">Curso</th>
            <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asistencia of asistencias| async">
            <td>{{ asistencia.id }}</td>
            <td>{{ asistencia.numSocio }}</td>
            <td>{{ asistencia.nombreAlumno }}</td>
            <td>{{ asistencia.curso.nivel }} de {{ asistencia.curso.categoria }} de {{ asistencia.curso.edades }} años los dias {{ asistencia.curso.dias }}
           de valor $ {{ asistencia.curso.valor }}</td>
            <td>{{ asistencia.fecha }}</td>
            &nbsp;
            <button type="text" (click)="confirm(asistencia.id)" class="p-button-danger" pButton icon="pi pi-trash" label="Eliminar"></button> 
            </tr>
             <p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        </tbody>
        </table>
    </div>
</div>