<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Numero de socio</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Mail</th>
          <th scope="col">Obra social</th>
          <th scope="col">Certificado medico</th>
          <a class="btn btn-primary" routerLink = '/alumnos/modificacion' role="button">Modificar</a>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{ alumno.numSocio }}</td>
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.apellido }}</td>
          <td>{{ alumno.fechaNac }}</td>
          <td><a href="mailto:{{ alumno.mail }}">{{ alumno.mail }}</a></td>
          <td>{{ alumno.obraSoc }}</td>
          <td>{{ alumno.certMedico }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
